@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

:root {
    overflow-x: hidden;
    background-color: black;
}

@media only screen and (min-width: 768px){
    img.portrait {
        padding-left: 15%;
    }
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
}

main {
    font-family: 'Exo', sans-serif;
    width: 100vw;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 75px 0px;
}

a {
    color: white;
}

p {
    background-color: black;
}

a.inline-link {
    color: maroon;
    text-decoration: underline;
}