*{
    color: white;
    background-color: black;
    font-family: sans-serif;
}
.pokeslot{
    text-transform: capitalize;
    place-self: center;
}
#teamcontainer{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 135px 135px;
}
nav{
    text-align: center;
}
h1{
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: blue;
}
#loadstatus{
    text-align: center;
    margin-top: 1em;
}