*{
    color: white;
    background-color: black;
    font-family: sans-serif;
}
article{
    text-align: center;
}
#hp{
    display: grid;
    grid-template-columns: auto auto;
}
#controls{
    display: grid;
    grid-template-columns: auto auto auto;
}
#enemy_image{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 20vh 20vh 20vh;
}
 #controls button{
    border: none;
    background: none;
    height: 50px;
    width: 200px;
    opacity: 0.8;
 }
 #controls button:hover{
    border: none;
    background: none;
    height: 50px;
    width: 200px;
    opacity: 1;
 }
 button img{
    height: 100%;
    width: 100%;
 }